/*
#ffd42e
#d74369
#fafafa
#e5bde5
#e5d4a7
#93e5e5
#a8e5e5
#cae58f
#c5d7e5
#e5c1c1
#e5e58b
#e5bde5
*/

:root {
    --side-color: rgb(68, 209, 135);
}

body, 
body * {
    padding: 0;
    margin: 0;
    box-sizing:content-box;
}

