/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* vendor */
@import '../components/button.css';
@import '../vendors/font-awesome.min.css';
@import '../vendors/ubuntu.css';

/* components */
@import '../components/button.css';

/* CUSTOM CSS */

.left-links {
    font-family: var(--Ubuntu);
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 80px 40px 0 60px;
    text-decoration: none;
    line-height: 25px;
    font-size: 20px;
    color: white;
    background-color: var(--side-color);

}

.logo-ln {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px;
    font-size: 15px;

}

.visa-logo {
    object-fit: contain;
    height: 1em;
    width: auto;
}

.pencil {
    margin-left: 15px;
}

.user-ln {
    display: flex;
    justify-content: end;
    gap: 10px;
    text-decoration: none;
    color: grey;
}

.profile-pic {
    object-fit: contain;

}

.elipsis {
    margin: 15px;
    color: grey;
}